body {
    color: #07E60C;
    background: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


a:link {
    color: #07E60C;
}

a:visited,
.link-button, 
.link-button-low,
.submit-button,
.submit-new-post-button,
.link-button-form,
.inlined-button {
    color: #F6F86D;
}


.link-button, 
.link-button-low,
.submit-button,
.submit-new-post-button,
.link-button-form,
.inlined-button{
   background-color: #928E8E;
}

.link-button, .link-button-low{
    
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link-button-low{
  padding: 5px 5px;
}

.main-header {
    text-align: center;
}

.main-buttons {
    text-align: center;
}

.error {
    font-size: 22px;
    font-weight: bold;
    color: #FD5503;
}

.form-input-tag {
    width: 10em;
    display: inline-block;
    text-align: right;
}

.form-separate-input {
    padding-top: 5px;
}

.submit-button,
.submit-new-post-button{
    padding: 5px 66px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

.link-button-form{
    padding: 5px 66px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.submit-button, 
.link-button-form, 
.login-user-input{
    box-sizing: border-box;
    width: 250px;
}

.form-input-tag-separate {
    width: 10em;
    display: inline-block;
    vertical-align: bottom;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;

}

.header-recent-posts{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.left-header {
    font-size: 2em;
}


.center-header {
    font-size: 2em;
    text-align: center;
}

.right-header {
    padding-top: 10px;
    padding-bottom: 10px;
}


.post-subject,
.post-content {
    background-color: #282525;
    color: #F5EFA7;
}

.post-subject {
    font-size: 20px;
    width: 100%;
}

.post-content{
    height: 10em;
    font-size: 16px;
    width: 100%;
}

.new-post-headline {
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 5px;
}

.recent-post-subject {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.post-box{
    background: #282525;
    color: #F5EFA7;
    margin-bottom: 18px;
}

.post-date-and-author {
    width: 100%;
    height: 1em;
}

.post-author {
    text-align: right;
    float: right;
    margin-right: 20px;
}

.post-date {
    text-align: left;
    float: left;
    margin-left: 20px;
}

.like-unlike-form{
     display:inline-block;
}

.inlined-button{
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

#delete-post-confirm-submit-button, #back-to-edit-delete-page-button{
    display: none;
}

.comments-title{
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 10px;
}