body {
    color: #07E60C;
    background: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


a:link {
    color: #07E60C;
}

a:visited {
    color: #F6F86D;
}

.link-button, .link-button-low{
    background-color: #928E8E;
    color: #F6F86D;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.link-button-low{
  padding: 5px 5px;
}

.main-header {
    text-align: center;
}

.main-buttons {
    text-align: center;
}

.error {
    font-size: 22px;
    font-weight: bold;
    color: #FD5503;
}

.form-input-tag {
    width: 10em;
    display: inline-block;
    text-align: right;
}

.form-separate-input {
    padding-top: 5px;
}

.submit-button,
.submit-new-post-button {
    background-color: #928E8E;
    color: #F6F86D;
    padding: 5px 66px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}

.link-button-form {
    background-color: #928E8E;
    color: #F6F86D;
    padding: 5px 66px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.form-input-tag-separate {
    width: 10em;
    display: inline-block;
    vertical-align: bottom;
}

.header-with-username, .header-recent-posts{
    width: 100%;
    height: 3em;
    margin-bottom: 10px;
}

.header-recent-posts{
    width: 80%;
    margin-left: 10%;
}

.left-header {
    font-size: 2em;
    text-align: left;
    width: 35%;
    display: inline-block;
}


.center-header {
    font-size: 2em;
    text-align: center;
    min-width: 30%;
    display: inline-block;
}

.right-header {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 34%;
    display: inline-block;
}



.post-subject,
.post-content {
    width: 100%;
    background-color: #282525;
    color: #F5EFA7;
}

.post-subject {
    font-size: 20px;
}

.post-content {
    height: 10em;
    font-size: 16px;
}

.new-post-headline {
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 5px;
}

.recent-post-subject {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.recent-post-box {
    background: #282525;
    color: #F5EFA7;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 18px;
}

.post-date-and-author {
    width: 100%;
    height: 1em;
}

.post-author {
    text-align: right;
    float: right;
    margin-right: 20px;
}

.post-date {
    text-align: left;
    float: left;
    margin-left: 20px;
}

.like-unlike-form{
     display:inline-block;
}

.like-unlike-button{
    background-color: #928E8E;
    color: #F6F86D;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.comments-title{
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 10px;
}