{% extends "posts_base.html" %}
{% block title %}s-blog recent posts{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{%block left_header %}
{{super()}}
{% endblock %}

{%block right_header %}
        {{ super() }}
        <a class="link-button-low" href="/recentposts">Recent posts</a>
        <a class="link-button-low" href="/newpost">Add new post</a>
        <a class="link-button-low" href="/logout">Log out</a>
{% endblock %}

{% block center_header %}
{% endblock %}

{% block content%} 

<div class="post-box">
     
<div class="recent-post-subject">{{post.subject}}</div>
        <div class="post-date-and-author">
            <span class="post-date">{{post.created_formatted}}</span>
            <span class="post-author">By {{post.user_name}}</span>
        </div>
        <hr>
        <div class=post-text>
            <p>{{post.content}}</p>
        </div>
        <div class="error">{{post.error_message}}</div>
    </div>

<div class="comments-title">{{comments_title}}</div>

{% for comment in comments %}
<div class="post-box">
     
<div class="recent-post-subject">Comment: {{comment.subject}}</div>
        <div class="post-date-and-author">
            <span class="post-date">{{comment.created_formatted}}</span>
            <span class="post-author">By {{comment.user_name}}</span>
        </div>
        <hr>
        <div class=post-text>
            <p>{{comment.content}}</p>
        </div>
</div>

{% endfor %}

{% endblock %}