<!DOCTYPE html>
<html>

<head>
    <title>edit post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/sblog.css" />
</head>

<body>
    <div class="header-with-username">
        <span class="left-header">S-blog</span>
        <span class="center-header">Edit/delete</span>
        <span class="right-header">logged in as {{logged_in_name}}
        <a class="link-button-low" href="/recentposts">Recent posts</a>
        <a class="link-button-low" href="/newpost">Add new post</a>
        <a class="link-button-low" href="/logout">Log out</a>
        </span>
    </div>
    <div>
    <form method="post">
        <label>
            <div class="new-post-headline">Subject:</div>
            <input type="text" class="post-subject" name="subject" value="{{post.subject}}">
        </label>
        <label>
                   <div  class="new-post-headline">Post:</div>
                    <textarea name="content" class="post-content" >{{post.content}}</textarea>
        </label>
        <span><input id="edit-post-submit-form-button" class ="inlined-button" type="submit" value="Submit edits"></span>
        <button class="inlined-button" id="delete-post-button" type="button">Delete post</button>
        <button class="inlined-button" id="back-to-edit-delete-page-button" type="button">Back to edit/delete page</button>
        <span>    
        <form action="" method="post">
            <input type="hidden" name="delete_post_idx" value={{post.key().id()}}>
            <input id="delete-post-confirm-submit-button" class ="inlined-button" type="submit" value="Confirm deletion" />
        </form>
        </span>
       
        </form>

    </form>
 
     <div class="error">{{error}}</div>
    </div>
<script src="/static/edit_delete.js"></script>
</body>

</html>
