<!DOCTYPE html>
<html>

<head>
    <title>edit post</title>
</head>

<body>
    <h2>C-blog</h2>
    <h3>edit post</h3>
    <form method="post">
        <label>
            <div class="subject">
                <div>subject</div>
                <input type="text" name="subject" value="{{post.subject}}">
            </div>
        </label>
        <label>
            <div class="content">
                <div>blog</div>
                <textarea name="content">{{post.content}}</textarea>
            </div>
        </label>
        <div class="error">{{error}}</div>
        <input type="submit">
    </form>
    <form action="" method="post">
            <input type="hidden" name="delete_post_idx" value={{post.key().id()}}>
        <input type="submit" value="Delete" />
    </form>
</body>

</html>