{% extends "posts_base.html" %}
{% block title %}s-blog recent posts{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{%block left_header %}
{{super()}}
{% endblock %}

{%block right_header %}
        {{ super() }}
        <a class="link-button-low" href="/recentposts">Recent posts</a>
        <a class="link-button-low" href="/newpost">Add new post</a>
{% endblock %}

{% block center_header %}
Edit/delete
{% endblock %}


{% block content%} 
    <div>
        <div>
            {{misc_debug}}
        </div>
        <form method="post">
            <label>
                <div class="new-post-headline">Subject:</div>
                <input type="text" class="post-subject" name="subject" value="{{post.subject}}">
            </label>
            <label>
                <div class="new-post-headline">Post:</div>
                <textarea name="content" class="post-content">{{post.content}}</textarea>
            </label>
            <span><input id="edit-post-submit-form-button" class ="inlined-button" type="submit" value="Submit edits"></span>
            <span id="cancel-edits-button"><a class="link-button-low" href="{{post.edit_post_url}}">Cancel edits</a></span>
            <button class="inlined-button" id="delete-post-button" type="button">Delete post</button>
        </form>

        <form action="" method="post">
                <input type="hidden" name="delete_post_idx" value={{post.key().id()}}>
                <button class="inlined-button" id="back-to-edit-delete-page-button" type="button">Back to edit/delete page</button>
                <input id="delete-post-confirm-submit-button" class="inlined-button" type="submit" value="Confirm deletion" />
        </form>
        <div class="error">{{error}}</div>
    </div>
    <script src="/static/edit_delete.js"></script>
{% endblock %}

