<!DOCTYPE html>
<html>

<head>
    <title>User login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/sblog.css" />
</head>

<body>
    <h2>S-Blog Login</h2>
    <form method="post">
        <div>
                <span class="form-input-tag">Username:</span>
                <input type="text" name="username"><span>{{username_error_message}}</span>
        </div>
        <div>
                <span class="form-input-tag">Password:</span>
                <input type="password" name="password"><span>{{password_error_message}}</span>
        </div>
        <div>
         <span class="form-input-tag"></span>
         <input class="submit-button" type="submit">
         </div>
        <div class = "error-display">
         {{error}}
        </div>
    </form>
</body>

</html>
