<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/static/sblog.css" />
    </head>
    <body>
        <div class = main-header>
            <h1>S-blog</h1>
        </div>
        <div class = main-buttons>
        <a class = "link-button" href="/recentposts">Read recent posts</a>
        <a class = "link-button" href="/signup">Sign up</a>
        <a class=  "link-button" href="/login">log in</a>
        </div>
    </body>

</html>