<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Mutiuser blog</h1>
        <a href="/recentposts">Read recent posts</a>
        <a href="/signeup">Sign up</a>
        <h2>Login</h2>
    <form method="post">
        <div>
            <label>
                Username
                <input type="text" name="username">
            </label>
        </div>
        <div>
            <label>
                Password
                <input type="password" name="password">
            </label>
        </div>
        <input type="submit">
        <div class = "error-display">
         {{error}}
        </div>
    </form>
    </body>

</html>