
{% extends "posts_base.html" %}
{% block title %}s-blog new comment{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{%block left_header %}
{{super()}}
{% endblock %}

{%block right_header %}
        {{ super() }}
        <a class="link-button-low" href="/newpost">Add new post</a>
        <a class="link-button-low" href="/recentposts">Recent posts</a>
{% endblock %}

{% block center_header %}
Add new comment
{% endblock %}


{% block content %}
    <div class="post-box">
        <div class="recent-post-subject">{{post.subject}}</div>
        <div class="post-date-and-author">
            <span class="post-date">{{post.created_formatted}}</span>
            <span class="post-author">By {{post.user_name}}</span>
        </div>
        <hr>
        <div>
            <p>{{post.content}}</p>
        </div>
    </div>
    <div>
        
        <form method="post">
            <label>
                <h3>Comment subject:</h3>
                <input type="text" class="post-subject" name="subject">
            </label>
            <label>
                <div class="new-post-headline">Comment:</div>
                <textarea name="content" class="post-content"></textarea>
            </label>
            <input class="submit-new-post-button" type="submit">
        </form>
        <div class="error">{{error}}</div>
    </div>
{% endblock %}
