{% extends "posts_base.html" %}
{% block title %}s-blog recent posts{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{%block left_header %}
{{super()}}
{% endblock %}

{%block right_header %}
        {{ super() }}
        <a class="link-button-low" href="/recentposts">Recent posts</a>
        <a class="link-button-low" href="/logout">Log out</a>
{% endblock %}

{% block center_header %}
New post 
{% endblock %}

{% block content%} 

    <div>
            <form method="post">
            <label>
                    <h3>Subject:<h3>
                    <input type="text" class="post-subject" name="subject">
            </label>
            <label>
                    <h3>Post:<h3>
                    <textarea name="content" class="post-content" ></textarea>
            </label>
            <input class ="submit-new-post-button" type="submit">
        </form>
        <div class="error">{{error}}</div>
    </div>

{% endblock%} 