<!DOCTYPE html>
<html>

<head>
{% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/sblog.css"/>
{% endblock %}
</head>

<body>
<div class="container">
    <div class="header-recent-posts">
    <span class="left-header">
    {%block left_header %}S-Blog{% endblock %}
    </span>
    
    <span class="right-header">
        {% block right_header %}
        {% if logged_in_name %}
        Welcome {{logged_in_name}}
        <a class="link-button-low" href="/logout">Log out</a>
        {% else %}
        Welcome Guest
        <a class="link-button-low" href="/login">Log in</a>
        <a class="link-button-low" href="/signup">Sign up</a>
        {% endif %}
        {% endblock %}
    </span>

    </div>

<div class="center-header">
{% block center_header %}
{% endblock %}
</div>

{% block content%}
 
{%endblock%}
    </div>
  
</body>

</html>
