<!DOCTYPE html>
<html>
<head>
    <title>simple blog</title>
    <style type="text/css">
    h2{
        text-align: center;
    }
    .post-title{
        font-size: 24px;
        text-align: left;
    }

    .post-date{
        font-size: 12px;
        float: right;
    }

    </style>
</head>
<body>
<h2>S - blog</h2>
<h2>{{misc_data}}</h2>

{% for post in posts %}
<div class="post">
<span>
<span class="post-title"><a href="{{post.url}}">{{post.subject}}</a></span>

<span class="post-date">{{post.created}}</span>
</span>
    <div>
        By <span>{{post.user_name}}</span>
    </div>

<div class=post-text>
<hr>
<p>{{post.content}}</p>
</div>
    <div>
        <a href="{{post.url}}">{{post.number_of_comments}} comments</a>
        <span>{{post.number_of_likes}} likes</span>
        <form action="" method="post">
            <input type="hidden" name="liked_post_idx" value={{post.key().id()}}>
        <input type="submit" value="Like" />
        </form>
        <form action="" method="post">
            <input type="hidden" name="unliked_post_idx" value={{post.key().id()}}>
        <input type="submit" value="Unlike" />
        </form>
        <span>{{post.error_message}}</span>
        <span><a href="{{post.new_comment_url}}">add comment</a></span>
        <span><a href="{{post.edit_post_url}}">edit\delete</a></span>
    </div>
</div>
<hr>
<hr>
{% endfor %}
<div>
    <a href="/logout">Log out</a>
    <a href="/newpost">Add new post</a>
</div>
</body>
</html>