<!DOCTYPE html>
<html>
<head>
    <title>simple blog</title>
    <style type="text/css">
    h2{
        text-align: center;
    }
    .post-title{
        font-size: 24px;
        text-align: left;
    }

    .post-date{
        font-size: 12px;
        float: right;
    }

    </style>
</head>
<body>
<h2>CS253 blog</h2>

{% for post in posts %}
<div class="post">
<span>
<span class="post-title">{{post.subject}}</span>
<span class="post-date">{{post.created}}</span>
</span>

<div class=post-text>
<hr>
<p>{{post.content}}</p>
</div>
</div>
{% endfor %}
</body>
</html>