<!DOCTYPE html>
<html>

<head>
    <title>s-blog recent posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/sblog.css" />
</head>

<body>
<div class="container">
    <div class="header-recent-posts">
        <span class="left-header">S-blog</span>
        
        <span class="right-header">
        logged in as {{logged_in_name}}
        <a class="link-button-low" href="/newpost">Add new post</a>
        <a class="link-button-low" href="/logout">Log out</a>
        </span>
    </div>
<div class="center-header">Recent Posts</div>
    {% for post in posts %}
<div class="recent-post-box">
     


<div class="recent-post-subject">{{post.subject}}</div>
        <div class="post-date-and-author">
            <span class="post-date">{{post.created_formatted}}</span>
            <span class="post-author">By {{post.user_name}}</span>
        </div>
        <hr>
        <div>
            <p>{{post.content}}</p>
        </div>
        <hr>
        <div>
            <span><a href="{{post.url}}">permalink</a></span>
            <span>{{post.number_of_comments}} comments</span>
            <span><a href="{{post.new_comment_url}}">add comment</a></span>
            <span><a href="{{post.edit_post_url}}">edit\delete</a></span>
           
            <span>{{post.number_of_likes}} likes</span>
            <form class="like-unlike-form" action="" method="post">
                <input type="hidden" name="liked_post_idx" value={{post.key().id()}}>
                <input class = "like-unlike-button" type="submit" value="Like" />
            </form>
            <form class="like-unlike-form" action="" method="post">
                <input type="hidden" name="unliked_post_idx" value={{post.key().id()}}>
                <input class = "like-unlike-button" type="submit" value="Unlike" />
            </form>
        </div>
        <div class="error">{{post.error_message}}</div>
    </div>
    {% endfor %}
    </div>
</body>

</html>
