<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/sblog.css" />
</head>

<body>
    <div class="main-header">
        <h1>S-blog</h1>
    </div>

    <div class="main-header">
        <h2>Welcome {{username}} !</h2>
    </div>

    <div class="container-center">
        <span>
            <a class="link-button" href="/recentposts">Read recent posts</a>
            <a class="link-button" href="/logout">Log out</a>
            <a class="link-button" href="/newpost">Add new post</a>
        </span>
    </div>

</body>

</html>

