<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/static/sblog.css" />
</head>

<body>
    <div class=m ain-header>
        <h1>S-blog</h1>
    </div>
    <h2>Welcome {{username}} !</h2>
    <a class="link-button" href="/recentposts">Read recent posts</a>
    <a class="link-button" href="/logout">Log out</a>
    <a class="link-button" href="/newpost">Add new post</a>
</body>

</html>

